extends ../extends/layout.jade

block content
  aside.c-info
    div.o-container
      a(href="index.html", class="c-logo__link")
        img.c-logo(src="/images/logo-white.svg", alt="Logo")
      h3.c-header__intro.c-header__intro--info We don't have any motto or manifesto nor do we think we are better than anyone else. We simply love what we do.
      div.u-clearfix.u-addBottom  
        div.c-service
          h4.c-headline.c-headline--white Digital
          ul.c-service__list
            li.c-service__item Web + Mobile Design
            li.c-service__item Web Development
            li.c-service__item CMS
            li.c-service__item E-Commerce
            li.c-service__item Interaction Design
            li.c-service__item User Experience
        div.c-service
          h4.c-headline.c-headline--white Brand + Identity
          ul.c-service__list
            li.c-service__item Brand Development
            li.c-service__item Creative Strategy
            li.c-service__item Logo + Identity
            li.c-service__item Promotional Materials
            li.c-service__item Brochures + Posters  
      a.c-info__phone(href="tel:+48733382735") +48 733 382 735
      ul.c-footer__list.c-footer__list--info
        li.c-footer__item
          a.c-footer__link(href="mailto:hello@itsfame.co") E-mail
        li.c-footer__item
          a.c-footer__link(href="http://instagram.com/itsfamestudio", target="_blank") Instagram
        li.c-footer__item
          a.c-footer__link(href="http://twitter.com/itsfamestudio", target="_blank") Twitter
        li.c-footer__item
          a.c-footer__link(href="http://dribbble.com/itsfamestudio", target="_blank") Dribbble
  div.c-404
    img(src="/images/rooster.png", class="c-404__rooster") 
    
  div.o-container
    a.c-info__link.js-info(href="#")
      span.c-info__icon
      span.c-info__close
    header.c-header
      a(href="index.html", class="c-logo__link")
        img.c-logo(src="/images/logo-black.svg", alt="Logo")      
